
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{if condition="'ImagesToWebp' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("ImagesToWebp/ImagesToWebp/index")}{/if}" title="返回列表"><i class="iconfont e-fanhui"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                {range name="$Request.param.sa" value="index" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>插件配置</span></a>
                {else /}
                    <a href="{:weapp_url("ImagesToWebp/ImagesToWebp/index")}" class="tab"><span>插件配置</span></a>
                {/range}
                </li>
                <li>
                    {eq name="$Request.param.sa" value="batch"}
                        <a href="javascript:void(0);" class="tab current"><span>批量操作</span></a>
                    {else /}
                        <a href="{:weapp_url("ImagesToWebp/ImagesToWebp/batch")}" class="tab"><span>批量操作</span></a>
                    {/eq}
                </li>
                <li>
                    {eq name="$Request.param.sa" value="content_replace"}
                        <a href="javascript:void(0);" class="tab current"><span>内容替换</span></a>
                    {else /}
                        <a href="{:weapp_url("ImagesToWebp/ImagesToWebp/content_replace")}" class="tab"><span>内容替换</span></a>
                    {/eq}
                </li>
                <li>
                    {eq name="$Request.param.sa" value="keyword_link"}
                        <a href="javascript:void(0);" class="tab current"><span>关键词内链</span></a>
                    {else /}
                        <a href="{:weapp_url("ImagesToWebp/ImagesToWebp/keyword_link")}" class="tab"><span>关键词内链</span></a>
                    {/eq}
                </li>
            </ul>
        </div>
    </div>