{include file="header.htm" /}
<script type="text/javascript" src="__PUBLIC__/plugins/colpick/js/colpick.js"></script>
<link href="__PUBLIC__/plugins/colpick/css/colpick.css" rel="stylesheet" type="text/css"/>
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit; height: calc( 100% - 22px );">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<style type="text/css">
#textColor, #selectedColor, #backgroundColor {
    /*margin:0;*/
    /*padding:0;*/
    border:solid 1px {$info.theme_color|default='#ff6565'};
    width:70px;
    height:20px;
    border-right:40px solid green;
    /*line-height:20px;*/
} 
</style>
{include file="left" /}
<div class="page min-hg-c-20" style="min-width:auto;margin-left:100px;padding-bottom: 0;">
    <form id="post_form">
        <div class="flexigrid">
            <div class="hDiv htitx">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                        <tr>
                            <th class="sign w10" axis="col0">
                                <div class="tc"></div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w10">
                                <div class="tc">导航样式设置</div>
                            </th>
                            <th abbr="ac_id" axis="col4">
                                <div class=""></div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit"> <label for="textColor">文字颜色</label> </dt>
                    <dd class="opt">
                        <input type="text" name="textColor" id="textColor" value="{$config.textColor}" style="border-color: {$config.textColor};" />
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit"> <label for="selectedColor">选中颜色</label> </dt>
                    <dd class="opt">
                        <input type="text" name="selectedColor" id="selectedColor" value="{$config.selectedColor}" style="border-color: {$config.selectedColor};" />
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit"> <label for="backgroundColor">背景颜色</label> </dt>
                    <dd class="opt">
                        <input type="text" name="backgroundColor" id="backgroundColor" value="{$config.backgroundColor}" style="border-color: {$config.backgroundColor};" />
                    </dd>
                </dl>
                <div class="bot"><a href="JavaScript:void(0);" onclick="updateSaveStyle();" class="ncap-btn-big ncap-btn-green">更新样式</a></div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        function updateSaveStyle() {
            // if($('#system').val() && $('#position_title').val() == '') {
            //     showErrorMsg('广告位名称不能为空');
            //     return false;
            // }
            layer_loading('正在处理');
            $.ajax({
                type: 'post',
                url : "{:weapp_url('Suibian/Suibian/updateSaveStyle', ['_ajax'=>1])}",
                data: $('#post_form').serialize(),
                dataType: 'json',
                success: function(res) {
                    layer.closeAll();
                    if (1 === parseInt(res.code)) {
                        showSuccessMsg(res.msg, 1500, function() {
                            window.location.reload();
                        });
                    } else {
                        showErrorAlert(res.msg);
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    showErrorAlert(e.responseText);
                }
            });
        }
    </script>

    <div class="flexigrid">
        <div class="hDiv htitx">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="sign w10" axis="col0">
                                <div class="tc"></div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w10">
                                <div class="tc">导航内容设置</div>
                            </th>
                            <th abbr="ac_id" axis="col4">
                                <div class=""></div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="explanation" class="explanation mt15">
            <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
                <h4 title="提示相关设置操作时应注意的要点">提示</h4>
                <span title="收起提示" id="explanationZoom" style="display: block;"></span>
            </div>
            <ul><li>建议上传比例相同的图片，最多添加 5 个底部导航</li></ul>
        </div>
        <div class="bDiv" style="height: auto;">
            <div class="b-nav-row-con sort-list">
                {foreach name="list" item="vo" key="k" }
                {if condition="$vo.nav_id <= 5"}
                <div class="b-nav-col-5" {if condition="$vo.nav_id == 5 && $vo.system == 0"} id="customNav" {/if} {if condition="empty($vo.nav_title) && empty($vo.default_pic) && empty($vo.selected_pic)"} style="display: none;" {/if}>
                    <div class="b-nav-etm">
                        <div class="nav-litpic-box">
                            <div class="box-l">图标</div>
                            <div class="box-r">
                                <div class="nav-litpic">
                                    <div class="litpic">
                                        <img id="default_pic_{$vo.nav_id}" src="{$vo.default_pic}">
                                        <span class="s-tihuan"><i class="iconfont e-bianji2 f-24" onclick="loadImagesID({$vo.nav_id}, 'default_pic');"></i></span>
                                    </div>
                                    <div class="name">默认</div>
                                </div>
                                <div class="nav-litpic">
                                    <div class="litpic">
                                        <img id="selected_pic_{$vo.nav_id}" src="{$vo.selected_pic}">
                                        <span class="s-tihuan"><i class="iconfont e-bianji2 f-24" onclick="loadImagesID({$vo.nav_id}, 'selected_pic');"></i></span>
                                    </div>
                                    <div class="name">选中</div>
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <div class="box-l">标题</div>
                            <div class="box-r">
                                <input type="text" value="{$vo.nav_title}" placeholder="请输入标题" class="input-txt" onchange="changeTableVal('weapp_applets_bottom_nav', 'nav_id', '{$vo.nav_id}', 'nav_title', this);">
                            </div>
                        </div>
                        <div class="set-bt">
                            <div class="box-l">链接</div>
                            <div class="box-r">
                                <input type="hidden" value="{$vo.host_id}" id="hostIDHidden_{$vo.nav_id}">
                                <input type="hidden" value="{$vo.link_id}" id="linkIDHidden_{$vo.nav_id}">
                                <span id="linkNames_{$vo.nav_id}">{$vo.link_names}</span>
                                <a href="javascript:void(0);" data-href="{:weapp_url('Suibian/Suibian/select_link')}" onclick="selectLink(this, {$vo.nav_id});">设置链接</a>
                            </div>
                        </div>
                        {if condition="$vo.nav_id == 5 && $vo.system == 0"}<span class="delect" onclick="hideCustomNav({$vo.nav_id});"></span>{/if}
                    </div>
                    <input type="hidden" name="nav_id[]" value="{$vo.nav_id}">
                </div>
                {/if}
                {/foreach}

                <div class="b-nav-col-5" style="display: none;" id="addClick" onclick="showCustomNav();">
                    <div class="b-nav-etm">
                        <div class="b-nav-add">
                            <div class="y-line"></div>
                            <div class="x-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // 文字颜色选择
        $('#textColor').colpick({
            submit: 0,
            flat: false,
            layout: 'rgbhex',
            colorScheme: 'light',
            color: $('#textColor').val(),
            onChange:function(hsb, hex, rgb, el, bySetColor) {
                $(el).css('border-color', '#' + hex);
                if(!bySetColor) $(el).val('#' + hex);
            }
        }).keyup(function() {
            $(this).colpickSetColor('#' + this.value);
        });

        // 选中颜色选择
        $('#selectedColor').colpick({
            submit: 0,
            flat: false,
            layout: 'rgbhex',
            colorScheme: 'light',
            color: $('#selectedColor').val(),
            onChange:function(hsb, hex, rgb, el, bySetColor) {
                $(el).css('border-color', '#' + hex);
                if(!bySetColor) $(el).val('#' + hex);
            }
        }).keyup(function() {
            $(this).colpickSetColor('#' + this.value);
        });

        // 背景颜色选择
        $('#backgroundColor').colpick({
            submit: 0,
            flat: false,
            layout: 'rgbhex',
            colorScheme: 'light',
            color: $('#backgroundColor').val(),
            onChange:function(hsb, hex, rgb, el, bySetColor) {
                $(el).css('border-color', '#' + hex);
                if(!bySetColor) $(el).val('#' + hex);
            }
        }).keyup(function() {
            $(this).colpickSetColor('#' + this.value);
        });

        // 拖动排序相关 js
        $( ".sort-list" ).sortable({
            start: function( event, ui) {
            
            }
            ,stop: function( event, ui ) {
                var nav_ids = [];
                $('input[name="nav_id[]"]').each(function(i,o){
                    nav_ids.push($(o).val());
                })
                $.ajax({
                    type: "POST",
                    url: "{:weapp_url('Suibian/Suibian/updateSaveBottomNav')}",
                    data: {action: 'batch_update', nav_id: nav_ids, field: 'sort_order', _ajax: 1},
                    dataType: 'json',
                    success: function (data) {

                    },
                    error:function(e){

                    }
                });
            }
        });
    });

    var field = '';
    var nav_id = 0;
    // 获取点击更新图片的ID并加载隐藏域
    function loadImagesID(value, type) {
        field = type;
        nav_id = value;
        // 调用图片上传JS
        GetUploadify(1, '', 'allimg', 'updateImages');
    }

    // 更新图片
    function updateImages(value) {
        layer_loading('正在处理');
        $.ajax({
            type: 'post',
            url : "{:weapp_url('Suibian/Suibian/updateSaveBottomNav')}",
            data: {action: 'update', nav_id: nav_id, field: field, value: value, _ajax: 1},
            dataType: 'json',
            success: function(res) {
                layer.closeAll();
                if (1 === parseInt(res.code)) {
                    showSuccessMsg(res.msg);
                    $('#' + field + '_' + nav_id).attr('src', value);
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e) {
                layer.closeAll();
                showErrorAlert(e.responseText);
            }
        });
    }

    // 选择链接
    function selectLink(obj, value) {
        if (value && parseInt(value) > 0) {
            $(obj).data('ad_host_id', $('#hostIDHidden_' + value).val());
            $(obj).data('ad_link_id', $('#linkIDHidden_' + value).val());

            // 打开选择链接
            selectAdLink(obj, function(result) {
                layer_loading('正在处理');
                $.ajax({
                    type: 'post',
                    url : "{:weapp_url('Suibian/Suibian/updateSaveBottomNav')}",
                    data: {action: 'update', nav_id: value, link_id: result.link_id, host_id: result.host_id, _ajax: 1},
                    dataType: 'json',
                    success: function(res) {
                        layer.closeAll();
                        if (1 === parseInt(res.code)) {
                            showSuccessMsg(res.msg);
                            $('#hostIDHidden_' + value).val(result.host_id);
                            $('#linkIDHidden_' + value).val(result.link_id);
                            $('#linkNames_' + value).html(result.link_names);
                        } else {
                            showErrorMsg(res.msg);
                        }
                    },
                    error: function(e) {
                        layer.closeAll();
                        showErrorAlert(e.responseText);
                    }
                });
            });
        } else {
            showErrorAlert('数据异常，刷新重试');
        }
    }

    $(function() {
        if ($('#customNav').is(':hidden')) $('#addClick').show();
    });

    function showCustomNav() {
        $('#addClick').hide();
        $('#customNav').show();
    }

    function hideCustomNav(value) {
        showConfirm('确认清除自定义导航内容？', {}, function() {
            layer_loading('正在处理');
            $.ajax({
                url : "{:weapp_url('Suibian/Suibian/updateSaveBottomNav')}",
                data: {action: 'delete', nav_id: value, _ajax: 1},
                type: 'post',
                dataType: 'json',
                success: function(res) {
                    layer.closeAll();
                    if (1 === parseInt(res.code)) {
                        $('#addClick').show();
                        $('#customNav').hide();
                        showSuccessMsg(res.msg, 1500);
                    } else {
                        showErrorAlert(res.msg);
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    showErrorAlert(e.responseText);
                }
            });
        });
    }
</script>
{include file="footer.htm" /}
