{include file="header.htm" /}
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit; height: calc( 100% - 22px );">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="left" /}
<div class="page min-hg-c-20" style="min-width:auto;margin-left:100px;padding-bottom: 0;">
    <div class="flexigrid">
        <div class="hDiv htitx">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="sign w10"> <div class="tc"></div> </th>
                            <th class="w10"> <div class="tc">内容设置</div> </th>
                            <th class=""> <div class=""></div> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <form class="form-horizontal" id="post_form">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit"> <label>标题名称</label> </dt>
                    <dd class="opt"> <input type="text" id="showTitle" name="showTitle" value="{$config.showTitle}" class="input-txt"> </dd>
                </dl>
                <dl class="row">
                    <dt class="tit"> <label>适用页面</label> </dt>
                    <dd class="opt">
                        <label class="curpoin"><input type="checkbox" name="applicablePages[]" value="1" {if condition="in_array(1, $config.applicablePages)"} checked="checked" {/if}>商品详情</label>
                        &nbsp;
                        <label class="curpoin"><input type="checkbox" name="applicablePages[]" value="2" {if condition="in_array(2, $config.applicablePages)"} checked="checked" {/if}>购物车</label>
                        &nbsp;
                        <label class="curpoin"><input type="checkbox" name="applicablePages[]" value="3" {if condition="in_array(3, $config.applicablePages)"} checked="checked" {/if}>订单详情</label>
                        &nbsp;
                        <label class="curpoin"><input type="checkbox" name="applicablePages[]" value="4" {if condition="in_array(4, $config.applicablePages)"} checked="checked" {/if}>会员中心</label>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit"> <label>数据来源</label> </dt>
                    <dd class="opt">
                        <label class="curpoin"><input type="radio" name="goodsSort" value="sort_order" {if condition="'sort_order' == $config.goodsSort"} checked="checked" {/if}>按排序获取</label>
                        &nbsp;
                        <label class="curpoin"><input type="radio" name="goodsSort" value="click" {if condition="'click' == $config.goodsSort"} checked="checked" {/if}>按点击数获取</label>
                        &nbsp;
                        <label class="curpoin"><input type="radio" name="goodsSort" value="sales_num" {if condition="'sales_num' == $config.goodsSort"} checked="checked" {/if}>按销量获取</label>
                        &nbsp;
                    </dd>
                </dl>
                <input type="hidden" name="buyClick" value="hide">
                <!-- <dl class="row">
                    <dt class="tit"> <label>购买按钮</label> </dt>
                    <dd class="opt">
                        <label class="curpoin"><input type="radio" name="buyClick" value="show" {if condition="'show' == $config.buyClick"} checked="checked" {/if}>显示</label>
                        &nbsp;
                        <label class="curpoin"><input type="radio" name="buyClick" value="hide" {if condition="'hide' == $config.buyClick"} checked="checked" {/if}>隐藏</label>
                        <p class="notic2">控制商品模块在页面中的显示与隐藏</p>
                    </dd>
                </dl> -->
                <div class="bot mt30">
                    <a href="JavaScript:void(0);" onclick="updateSaveGuessYouLike();" class="ncap-btn-big ncap-btn-green">确认提交</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function updateSaveGuessYouLike() {
        layer_loading('正在处理');
        $.ajax({
            type: 'post',
            url : "{:weapp_url('Suibian/Suibian/guessyoulike', ['_ajax'=>1])}",
            data: $('#post_form').serialize(),
            dataType: 'json',
            success: function(res) {
                layer.closeAll();
                if (1 === parseInt(res.code)) {
                    showSuccessMsg(res.msg, 1000, function() {
                        window.location.reload();
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e) {
                layer.closeAll();
                showErrorAlert(e.responseText);
            }
        });
    }
</script>
{include file="footer.htm" /}