<div class="sidebar-second">
    <ul>
        <li class="sidebar-second-title">原生小程序</li>
        <li>
            {range name="$Request.param.sa" value="applets" type='in'}
                <a href="javascript:void(0);" class="active"><span>应用列表</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/applets')}"><span>应用列表</span></a>
            {/range}
        </li>
        <li>
            {eq name="$Request.param.sa" value="index"}
                <a href="javascript:void(0);" class="active"><span>广告管理</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/index')}"><span>广告管理</span></a>
            {/eq}
        </li>
        <li>
            {range name="$Request.param.sa" value="bottomnavdesign" type='in'}
                <a href="javascript:void(0);" class="active"><span>底部导航</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/bottomnavdesign')}"><span>底部导航</span></a>
            {/range}
        </li>
        <li>
            {range name="$Request.param.sa" value="guessyoulike" type='in'}
                <a href="javascript:void(0);" class="active"><span>商品推荐</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/guessyoulike')}"><span>商品推荐</span></a>
            {/range}
        </li>
        <li>
            {range name="$Request.param.sa" value="page_paths" type='in'}
                <a href="javascript:void(0);" class="active"><span>页面路径</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/page_paths')}"><span>页面路径</span></a>
            {/range}
        </li>
        <li>
            {range name="$Request.param.sa" value="share_card" type='in'}
                <a href="javascript:void(0);" class="active"><span>分享卡片</span></a>
            {else /}
                <a href="{:weapp_url('Suibian/Suibian/share_card')}"><span>分享卡片</span></a>
            {/range}
        </li>
        
    </ul>
</div>

