{include file="header.htm" /}
<style type="text/css">
    a.link_names {
        background-color: #F5F5F5; border: none; margin-right: 5px;
    }
    a.link_active {
        background-color: rgb(51, 152, 204); border: none; margin-right: 5px; color: rgb(255, 255, 255);
    }
    a:hover.ncap-btn {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(51, 152, 204);
        border: none;
    }
</style>
<body class="eyou_body_xin arctype">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="sidebar-second order-navBox" style="min-height: calc(100% - 7px);padding-top: 5px;height: unset;border-bottom: 1px solid #f0f0f0;border-top: 1px solid #f0f0f0;">
    <ul id="accordion" class="accordion">
        <li>
            <ul class="submenu">
            {volist name="$linkGroup" id="vo"}
                {if condition="$vo.host_id == 1"}
                <li>
                    <a href="{:weapp_url('Suibian/Suibian/select_link')}" {if condition="empty($ad_host_id) || $ad_host_id <= 2"} class="current" {/if}>商城链接</a>
                </li>
                {elseif condition="$vo.host_id > 2"/}
                <li>
                    <a href="{:weapp_url('Suibian/Suibian/select_link', ['ad_host_id'=>$vo.host_id])}" {if condition="$ad_host_id == $vo.host_id"} class="current" {/if}>{$vo['host_title']}</a>
                </li>
                {/if}
            {/volist}
            </ul>
        </li>
    </ul>
</div>

<div id="page_div" class="page min-hg-c mb-20" style="min-width: auto;box-shadow: none;margin-left: 101px;padding-bottom: 15px;min-height: calc(100% - 32px);border-bottom: 1px solid #f0f0f0;border-top: 1px solid #f0f0f0;">
    <div class="flexigrid">
        {if condition="$ad_host_id == 3"}
            {include file="link_product" /}
        {elseif condition="$ad_host_id == 4" /}
            {include file="link_arctype" /}
        {else /}
            {volist name="$linkGroup" key="i" id="vo"}
                {if condition="!in_array($vo.host_id, [3, 4])"}
                    {gt name="$i" value="1"}<div>&nbsp;</div><div>&nbsp;</div>{/gt}
                    <span style="font-size: 14px;">{$vo.host_title}</span>
                    <div style="margin-top: 10px;">
                        {volist name="$linkList[$vo.host_id]" key="j" id="vo2"}
                        <a class="ncap-btn link_names {eq name='$vo2.link_id' value='$ad_link_id'}link_active{/eq}" data-host_id="{$vo2.host_id}" data-link_id="{$vo2.link_id}" data-names="{$vo2.link_names}" onclick="selectLink(this);">{$vo2.link_names}</a>
                        {/volist}
                    </div>
                {/if}
            {/volist}
        {/if}
    </div>
</div>
<input type="hidden" id="host_id" value="{$linkFind['host_id']|default=''}">
<input type="hidden" id="link_id" value="{$linkFind['link_id']|default=''}">
<input type="hidden" id="link_names" value="{$linkFind['link_names']|default=''}">

<script type="text/javascript">
    function selectLink(obj) {
        $('#host_id').val($(obj).attr('data-host_id'));
        $('#link_id').val($(obj).attr('data-link_id'));
        $('#link_names').val($(obj).attr('data-names'));
        $('.link_names').removeClass('link_active');
        $(obj).addClass('link_active');
    }
</script>

{include file="footer" /}