{include file="header.htm" /}
<script type="text/javascript" src="__SKIN__/js/clipboard.min.js"></script>
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="left" /}
<div class="page" style="min-width:auto;margin-left:100px;padding-bottom: 0;">
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th abbr="article_show" axis="col5" class="w40">
                            <div class="tc">序号</div>
                        </th>
                        <th abbr="article_show" axis="col5" class="w160">
                            <div class="tc">页面名称</div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div style="text-align: left; padding-left: 10px;" class="">小程序链接</div>
                        </th>
                        <th axis="col1" class="w200">
                            <div class="tc">操作</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                        {foreach name="list" item="vo" key="k" }
                        <tr>
                            <td class="sort">
                                <div class="w40 tc">
                                    {$vo.id}
                                </div>
                            </td>
                            <td class="">
                                <div class="w160 tc">
                                    {$vo.title}
                                </div>
                            </td>
                            <td class="" style="width: 100%;">
                                <div class="tl" style="padding-left: 10px;">
                                    {$vo.paths}
                                </div>
                            </td>
                            
                            <td class="operation">
                                <div class="w200 tc">
                                    <a href="javascript:void(0);" class="btn blue pathsCopy" onclick="pathsCopy();" data-clipboard-text="{$vo.paths}">复制</a>
                                    <!-- <i></i>
                                    <a href="javascript:void(0);" onclick="openQrcode()" class="btn blue"><i class="fa fa-qrcode" style="width: auto;height: auto;background: unset;font-size: 18px;"></i></a> -->
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv"><div class="tDiv2"></div></div>
    </div>
</div>
<script type="text/javascript">
    // 路径复制
    function pathsCopy() {
        var clipboard1 = new Clipboard(".pathsCopy");
        clipboard1.on("success", function(e) {
            layer.msg("复制成功");
        });
        clipboard1.on("error", function(e) {
            layer.msg("复制失败！请手动复制", {icon: 5});
        }); 
    }
</script>
{include file="footer.htm" /}