{include file="header.htm" /}
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="left" /}
<div class="page" style="min-width:auto;margin-left:100px;padding-bottom: 0;">
    <div class="flexigrid">
        <div class="ncap-form-default" style="position: sticky;">
            <div class="share-con">
                {notempty name="$config.shopIndex"}
                <div class="share-col-4">
                    <div class="share-content">
                        <div class="share-head">
                            <p class="title-l">商城首页</p>
                            <a class="title-r" href="javascript:void(0);" data-href="{:weapp_url('Suibian/Suibian/share_card_config', ['type'=>'shopIndex'])}" onclick="openFullframe(this, '首页分享设置', '640px', '470px');">编辑</a>
                        </div>
                        <div class="share-bot">
                            <div class="share-box">
                                <div class="share-font"><span class="span-show">{$config.shopIndex.shareTitle}</span></div>
                                <div class="share-img">
                                    {empty name="$config.shopIndex.sharePic"}
                                    <span>分享图标</span>
                                    {else/}
                                    <img src="{$config.shopIndex.sharePic}" style="width: 72px; height: 72px;">
                                    {/empty}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {/notempty}

                {notempty name="$config.dealerPlugin"}
                <div class="share-col-4">
                    <div class="share-content">
                        <div class="share-head">
                            <p class="title-l">分销推广</p>
                            <a class="title-r" href="javascript:void(0);" data-href="{:weapp_url('Suibian/Suibian/share_card_config', ['type'=>'dealerPlugin'])}" onclick="openFullframe(this, '分销推广设置', '640px', '470px');">编辑</a>
                        </div>
                        <div class="share-bot">
                            <div class="share-box">
                                <div class="share-font"><span class="span-show">{$config.dealerPlugin.shareTitle}</span></div>
                                <div class="share-img">
                                    {empty name="$config.dealerPlugin.sharePic"}
                                    <span>分享图标</span>
                                    {else/}
                                    <img src="{$config.dealerPlugin.sharePic}" style="width: 72px; height: 72px;">
                                    {/empty}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {/notempty}
            </div>
        </div>
    </div>
</div>
{include file="footer.htm" /}