<link type="text/css" href="__WEAPP_TEMPLATE__/skin/css/font-awesome.min.css?v={$weappInfo.version|default='v1.0.0'}" rel="stylesheet" />
{eyou:if condition='($info.data.jq == 1)'}
<script type="text/javascript" src="__WEAPP_TEMPLATE__/skin/js/jquery.min.js?v={$version}"></script>
{/eyou:if}
{eyou:switch name='$info.data.mclmwu'}
{eyou:case value='微信'}
<script type="text/javascript" src="__WEAPP_TEMPLATE__/skin/js/clipboard.min.js?v={$version}"></script>
<script type="text/javascript" src="__WEAPP_TEMPLATE__/skin/js/footernav.js?v={$version}"></script>
{/eyou:case}
{eyou:default /}
{/eyou:switch}
<style>
.footer_Footernav {display: flex;width: 100%;height: 55px;position: fixed;left: 0;bottom: 0;background-color: {$info.data.bjs|default='#fff'};box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.12);justify-content: space-between;padding: 0 10px;box-sizing: border-box;z-index: 99999999;}
.footer_Footernav a i{color: {$info.data.tbys|default='#2b2b2b'};position: relative;display: inline-block;font-size: 22px;margin-top: 8px;}
#releaseBtn_Footernav i{font-size: {$info.data.zjtbdx|default='40'}px;margin-top: -25px !important;border-top-left-radius: 50%;border-top-right-radius: 50%;background-color: {$info.data.bjs|default='#fff'};padding: 10px;padding-bottom: 0;}
#releaseBtn_Footernav small{margin-top: 8px;}
.footer_Footernav a small{display: block;text-align: center;font-size: 14px;color: {$info.data.ztys|default='#333333'};}
.footer_Footernav a {text-decoration: none;color: #2b2b2b;text-align: center;}
{eyou:switch name='$info.data.mclmwu'}
{eyou:case value='微信'}
.cox_Footernav {position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);display: none;top: 0;right: 0;bottom: 0;left: 0;overflow: hidden;outline: 0;-webkit-overflow-scrolling: touch;background-color: rgb(0, 0, 0);filter: alpha(opacity=60);background-color: rgba(0, 0, 0, 0.6);z-index: 9999;}
.cox_Footernav .tc_Footernav{height: 19rem;border: 0.5rem solid #e96f83;border-radius: 1rem;position:fixed;top:0;right:0;left:0;bottom:0;margin:auto;background: #fff;}
.cox_Footernav .mp_Footernav{line-height: 3.6rem;font-size: 3.6rem;text-align: center;padding-top: 1.8rem;padding-bottom: 1.8rem;}
.cox_Footernav .check{line-height: 3rem;font-size: 1.8rem;text-align: center;padding-bottom: 1rem;}
.cox_Footernav .buttonred{width: 16rem;height: 4rem;line-height: 4rem;font-weight: 600;color: #fff;border-radius: 1rem;text-align: center;margin: 0 auto;}
.cox_Footernav .btn1_Footernav{background: #E96F83;width: 16rem;height: 4rem;border-radius: 1rem;color: #fff;font-size: 1.8rem;border: none;outline:none}
{/eyou:case}
{eyou:default /}
{/eyou:switch}
</style>
<div class="footer_Footernav">
    <a href="{$info.data.dzlmyi|default='tel:15366******'}">
        <i class="fa {$info.data.tblmyi|default='fa-phone'}"></i>
        <small>{$info.data.mclmyi|default='电话'}</small>
    </a>
	<a href="{$info.data.dzlmer|default='sms:15366******'}">
        <i class="fa {$info.data.tblmer|default='fa-comments'}"></i>
        <small>{$info.data.mclmer|default='短信'}</small>
    </a>
    <a href="{$info.data.dzlmsan|default='/'}" {eyou:if condition='($info.data.yangshi == 1)'} id="releaseBtn_Footernav"{/eyou:if}>
        <i class="fa {$info.data.tblmsan|default='fa-home'}"></i>
        <small>{$info.data.mclmsan|default='首页'}</small>
    </a>
    <a href="{$info.data.dzlmsi|default=''}">
        <i class="fa {$info.data.tblmsi|default='fa-qq'}"></i>
        <small>{$info.data.mclmsi|default='QQ'}</small>
    </a>
	{eyou:switch name='$info.data.mclmwu'}
	{eyou:case value='微信'}
	<a href="{$info.data.dzlmwu|default='javascript:;'}" class="Footernav-weixin">
        <i class="fa {$info.data.tblmwu|default='fa-wechat'}"></i>
        <small>{$info.data.mclmwu|default='微信'}</small>
    </a>
	
	{/eyou:case}
	{eyou:default /}
	<a href="{$info.data.dzlmwu|default='javascript:;'}">
        <i class="fa {$info.data.tblmwu|default='fa-wechat'}"></i>
        <small>{$info.data.mclmwu|default='微信'}</small>
    </a>
	{/eyou:switch}
</div>
{eyou:switch name='$info.data.mclmwu'}
{eyou:case value='微信'}
<div class="fzz1 btton_Footernav" onClick="jQuery(&#39;.cox_Footernav&#39;)"  data-clipboard-action="copy" data-clipboard-target=".fzz1" style="color: #f6f6f9;">{$info.data.wxhlmwu|default='408256272'}</div>
<div id="d1_Footernav" class="cox_Footernav xs">
	<div class="tc_Footernav">
	    <a style="display: flex;font-size: 24px;position: fixed;right: 0;padding: 0 10px;" onClick="jQuery(&#39;.cox_Footernav&#39;).hide()"><i class="fa fa-remove"></i></a>
        <div class="mp_Footernav">{$info.data.wxhlmwu|default='408256272'}</div>
			<div class="check"><input type="checkbox" name="agree_Footernav" id="agree_Footernav" class="checkbox btton_Footernav" onClick="jQuery(&#39;.cox_Footernav&#39;)"  data-clipboard-action="copy" data-clipboard-target=".fzz1">已为您复制好微信号，点击进入微信</div>
			<div class="redbox"><div class="buttonred mar"><input type="submit" value="去微信" class="btn_Footernav btn1_Footernav" onClick="jQuery(&#39;.cox_Footernav&#39;).hide()"></div></div>
		</div>
	</div>
<script type="text/javascript">$(document).ready(function () {        $('.Footernav-weixin').click(function () {            $('.cox_Footernav').show();        });    })</script>
<script type="text/javascript">
var clipboard = new Clipboard('.btton_Footernav');
clipboard.on('success', function(e) {
	console.log(e);
});
clipboard.on('error', function(e) {
	console.log(e);
});


</script>
{/eyou:case}
{eyou:default /}
{/eyou:switch}