{include file="header.htm" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">使用方法</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <li>该插件目前只支持 DeepSeek 模型，如没有该 API，<a href="https://platform.deepseek.com/sign_in" target="_blank">点击前往申请</a> </li>
                <li>注册登录后，点击左侧【API keys】，再点击右侧【创建 API key】按钮，随便取个名字点击【创建】即可</li>
                <li>创建完成后，请勿关闭窗口，直接复制 API key 到配置界面。</li>
                <li>现在创建后已经不赠送额度，请实名认证后充值，10 元就可以用很久。</li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}