{include file="header.htm" /}

<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;width: 420px;">
    <div id="toolTipLayer"
        style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="page" style="width: 400px;">
        <form class="form-horizontal" id="post_form" action="{:weapp_url('AiArticle/AiArticle/add')}" method="post">
            <div class="ncap-form-default">
                <h2 style="width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 24px;">请选择要发布的栏目</h2>
                <dl class="row">
                    <dt>
                        请选择要发布的栏目
                    </dt>
                </dl>
                
                <dl class="row">
                    <dd class="opt" style="width: 400px;">
                        <select name="typeid" id="typeid" class="input-txt" size="22">
                            {$select_html}
                        </select>
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                
                <div class="bot">
                    <input type="hidden" name="ai_model_name" value="{$conf.ai_model_name}" />
                    <input type="hidden" name="ai_model_identifier" value="{$conf.ai_model_identifier}" />
                    <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green"
                        id="submitBtn">确认提交</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
       

        $(function () {
            $('#typeid').find('option').click(function(){
                var typeid = $('#typeid').val();

                if (!typeid) {
                    layer.alert('请选择栏目…！', {icon:5, title:false}, function(index){
                        $('#typeid').val('');
                        layer.close(index);
                    });
                    return false;
                }

                var parentObj = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(parentObj);

                
                var url = "{:weapp_url('AiArticle/AiArticle/addArticle')}";
                if (url.indexOf('?') > -1) {
                    url += '&';
                } else {
                    url += '?';
                }
                url += 'typeid=' + typeid;
                console.log(url);
                parent.window.location = url;
                return false;
                if (2 === parseInt(current_channel)) {
                    parent.archivesRelease('Product', {$shopOpen|default='0'}, url);
                } else {
                    var iframe = '{$iframe}';
                    if (2 === parseInt(iframe)) {
                        parent.window.location = url;
                    } else {
                        parent.content_body.location = url;
                    }
                }
            });
    });
    </script>
    {include file="footer.htm" /}